*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

p{
  font-size: 16px;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto 60px;
  grid-template-areas:
  "header header header header"
  "nav nav nav nav"
  "main main main aside"
  "footer footer footer aside";
  width: 100%;
}

/* HEADER */

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header1{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  
}

.header1 h1{
  display: flex;
}

.header1 span{
  color: dimgray;
  font-size: 14px;
}

.search-entry{
  display: flex;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 4px;
  height: 30px;
}

.search-entry form{
  display: flex;
  width: 100%;
  height: 100%;
}

.search-entry input{
  left: 0;
  border: none;
  outline: none;
  width: 250px;
  padding: 0 16px;
  overflow: hidden;
}

.search-btn{
  right: 0;
  border: none;
  outline: none;
  padding: 2px 8px;
  background-color: white;
}


.header2{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slideshow-container {
  min-width: 100%;
  min-height: 250px;
  max-height: 500px;
  margin: auto;
  border-radius: 12px;
  overflow: hidden; /* Ensure slides are hidden when sliding out */
}

.slide{
  display: flex;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: 1s;
  border-radius: 12px;
  display: none;
}

.slide img{
  width: 100%;
  object-fit: cover;
}

/* Next & previous buttons */

.next-prev{
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  background-color: rgba(255, 255, 255, 0.406);
  backdrop-filter: blur(4px);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}


.dots-container{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  border-radius: 20px;
  transition: 1s;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}

.dot:not(:last-child){
  margin-right: 20px;
}

.active-dot, .dot:hover {
  background-color: blue;
}



/* NAVBAR */

nav{
  grid-area: nav;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 20px;
}

nav ul{
  list-style: none;
  display: flex;
  overflow: hidden;
}

nav li a{
  color: gray;
  padding: 6px 12px;
  border-radius: 4px;
  text-wrap: nowrap;
}

nav li a:hover{
  background-color: #f8f8f8;
}


/* MAIN */

main{
  grid-area: main;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-frame{
  display: flex;
  flex-direction: column;
  width: 380px;
  border: 1px solid #c1c1c1;
  margin: 20px;

}

.image-frame{
  display: flex;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.image-frame img{
  width: 100%;
  cursor: pointer;
}

.image-frame box-icon{
  position: absolute;
  left: 10px;
  top: 10px;
  rotate: 45deg;
  fill: #ffffff;
  cursor: pointer;
}

.image-frame p{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
}

.caption-frame{
  display: flex;
  flex-direction: column;
}

.content-links{
  padding: 10px;
  letter-spacing: 1px;
}

.content-links a{
  color: blue;
}

.content-title{
  padding: 10px;
  cursor: pointer;
}

.content-title:hover{
  color: blue;
}


/* ASIDE */

aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.aside1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.aside1-search p{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter h2{
  font-size: 20px;
  margin: 20px 0;
}

.newsletter p{
  line-height: 30px;
}

.newsletter input{
  border: 1px solid grey;
  outline: none;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
}

.newsletter button{
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 20px;
  margin: 10px 0;
}

.aside2{
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.aside-suggest{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  row-gap: 20px;
}

.aside-content{
  width: 45%;
  overflow: hidden;
}

.aside-content img{
  width: 100%;
}



/* FOOTER */

footer{
  grid-area: footer;
  display: flex;
  background-color: rgb(235, 235, 235);
}































@media only screen and (max-width:780px){
  .container{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  }

  .header1 span{
    display: none;
  }

  .search-entry input{
    display: none;
  }


  .content-frame{
    width: 100%;
  }
}