*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: sans-serif;
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
}

p{
  font-size: 16px;
}

.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto auto auto 60px;
  grid-template-areas:
  "header header header header"
  "nav nav nav nav"
  "main main main aside"
  "footer footer footer aside";
  width: 100%;
}

/* HEADER */

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header1{
  display: flex;
  width: 100%;
  flex-direction: row;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  
}

.header1 h1{
  display: flex;
}

.header1 span{
  color: dimgray;
  font-size: 14px;
}

.search-entry{
  display: flex;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 4px;
  height: 30px;
}

.search-entry form{
  display: flex;
  width: 100%;
  height: 100%;
}

.search-entry input{
  left: 0;
  border: none;
  outline: none;
  width: 250px;
  padding: 0 16px;
  overflow: hidden;
}

.search-btn{
  right: 0;
  border: none;
  outline: none;
  padding: 2px 8px;
  background-color: white;
}

.showsidebar{
  display: none;
  border-radius: 4px;
  padding: 4px;
}

.showsidebar:hover{
  background-color: #f8f8f8;
}

.header2{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 1s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/* slider nav-manual */
.nav-manual{
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}

.manual-btn{
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 1s;cursor: pointer;
}

.manual-btn:not(:last-child){
  margin-right: 20px;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
} 

#radio3:checked ~ .first{
  margin-left: -40%;
} 

#radio4:checked ~ .first{
  margin-left: -60%;
}

/* automatic slide navigation*/

.nav-auto{
  display: flex;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}


.nav-auto div{
  width: 20px;
  height: 20px;
  border: 2px solid white;
  border-radius: 20px;
  transition: 1s;
}

.nav-auto div:not(:last-child){
  margin-right: 20px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
  background-color: white;
}

#radio2:checked ~ .nav-auto .auto-btn2{
  background-color: white;
}

#radio3:checked ~ .nav-auto .auto-btn3{
  background-color: white;
}

#radio4:checked ~ .nav-auto .auto-btn4{
  background-color: white;
}



/* NAVBAR */

nav{
  grid-area: nav;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #c1c1c1;
  padding: 10px 20px;
}

nav ul{
  list-style: none;
  display: flex;
  overflow: hidden;
}

nav li a{
  color: gray;
  padding: 6px 12px;
  border-radius: 4px;
  text-wrap: nowrap;
}

nav li a:hover{
  background-color: #f8f8f8;
}


/* MAIN */

main{
  grid-area: main;
  display: flex;
  height: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content-frame{
  display: flex;
  flex-direction: column;
  width: 380px;
  border: 1px solid #c1c1c1;
  margin: 20px;

}

.image-frame{
  display: flex;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.image-frame img{
  width: 100%;
  cursor: pointer;
}

.image-frame box-icon{
  position: absolute;
  left: 10px;
  top: 10px;
  rotate: 45deg;
  fill: #ffffff;
  cursor: pointer;
}

.image-frame p{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  color: #ffffff;
}

.caption-frame{
  display: flex;
  flex-direction: column;
}

.content-links{
  padding: 10px;
  letter-spacing: 1px;
}

.content-links a{
  color: blue;
}

.content-title{
  padding: 10px;
  cursor: pointer;
}

.content-title:hover{
  color: blue;
}


/* ASIDE */

aside{
  grid-area: aside;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
}

.aside1{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: auto;
}

.aside1-search p{
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: bold;
}

.newsletter h2{
  font-size: 20px;
  margin: 20px 0;
}

.newsletter p{
  line-height: 30px;
}

.newsletter input{
  border: 1px solid grey;
  outline: none;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  padding: 0 20px;
  margin: 10px 0;
}

.newsletter button{
  border: none;
  outline: none;
  background-color: grey;
  color: white;
  padding: 16px 40px;
  border-radius: 30px;
  font-size: 20px;
  margin: 10px 0;
}

.aside2{
  width: 100%;
  display: flex;
  margin: 20px 0;
}

.aside-suggest{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  row-gap: 20px;
}

.aside-content{
  width: 45%;
  overflow: hidden;
}

.aside-content img{
  width: 100%;
}



/* FOOTER */

footer{
  grid-area: footer;
  display: flex;
  background-color: rgb(235, 235, 235);
}































@media only screen and (max-width:780px){
  .container{
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "nav"
    "main"
    "aside"
    "footer";
  }

  .header1 span{
    display: none;
  }

  .search-entry input{
    display: none;
  }

  .showsidebar{
    display: flex;
  }

  .content-frame{
    width: 100%;
  }
}